body{
     background-color: rgb(198, 118, 230); 
     text-align: center;   
}


div  {
    background-color: cyan;
    border: 10px dashed black;
    border-radius: 20px;
    width: 500px;
    margin-left: 400px;
    height: 500px;
    
}